In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv("iris.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [7]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        11
  Versicolor       1.00      0.80      0.89        10
   Virginica       0.82      1.00      0.90         9

    accuracy                           0.93        30
   macro avg       0.94      0.93      0.93        30
weighted avg       0.95      0.93      0.93        30

In [8]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})

Accuracy :  0.9333333333333333

In [ ]:
#2. Download another data set suitable for the KNN and implement the KNN algorithm. Take different
#values for Test and training data set .Also use different values for k.

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
dataset = pd.read_csv("cancer.csv")
dataset.head()
dataset.info()
X = dataset.iloc[:, 2:35].values
print(X)
y = dataset.iloc[:, 1].values
print(y)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 35 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   119513    197 non-null    int64
 1   N         197 non-null    object
 2   31        197 non-null    int64
 3   18.02     197 non-null    float64
 4   27.6      197 non-null    float64
 5   117.5     197 non-null    float64
 6   1013      197 non-null    float64
 7   0.09489   197 non-null    float64
 8   0.1036    197 non-null    float64
 9   0.1086    197 non-null    float64
 10  0.07055   197 non-null    float64
 11  0.1865    197 non-null    float64
 12  0.06333   197 non-null    float64
 13  0.6249    197 non-null    float64
 14  1.89      197 non-null    float64
 15  3.972     197 non-null    float64
 16  71.55     197 non-null    float64
 17  0.004433  197 non-null    float64
 18  0.01421   197 non-null    float64
 19  0.03233   197 non-null    float64
 20  0.009854  197 non-null    float64
 21  0.01694   197 non-null    float64
 22  0.003495  197 non-null    float64
 23  21.63     197 non-null    float64
 24  37.08     197 non-null    float64
 25  139.7     197 non-null    float64
 26  1436      197 non-null    float64
 27  0.1195    197 non-null    float64
 28  0.1926    197 non-null    float64
 29  0.314     197 non-null    float64
 30  0.117     197 non-null    float64
 31  0.2677    197 non-null    float64
 32  0.08113   197 non-null    float64
 33  5         197 non-null    float64
 34  5.1       197 non-null    int64
dtypes: float64(31), int64(3), object(1)
memory usage: 54.0+ KB
[[6.100e+01 1.799e+01 1.038e+01 ... 1.189e-01 3.000e+00 2.000e+00]
 [1.160e+02 2.137e+01 1.744e+01 ... 9.067e-02 2.500e+00 0.000e+00]
 [1.230e+02 1.142e+01 2.038e+01 ... 1.730e-01 2.000e+00 0.000e+00]
 ...
 [1.200e+01 1.717e+01 2.919e+01 ... 6.033e-02 3.700e+00 0.000e+00]
 [3.000e+00 2.142e+01 2.284e+01 ... 8.981e-02 3.000e+00 0.000e+00]
 [6.000e+00 1.670e+01 2.813e+01 ... 8.036e-02 3.500e+00 0.000e+00]]
['N' 'N' 'N' 'R' 'R' 'N' 'R' 'N' 'N' 'N' 'N' 'N' 'R' 'N' 'R' 'N' 'R' 'N'
 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'R' 'N' 'N'
 'R' 'N' 'R' 'R' 'N' 'R' 'R' 'N' 'N' 'R' 'N' 'R' 'N' 'R' 'N' 'N' 'N' 'N'
 'N' 'R' 'N' 'N' 'R' 'N' 'N' 'R' 'N' 'N' 'N' 'N' 'R' 'N' 'R' 'N' 'N' 'N'
 'N' 'N' 'R' 'N' 'N' 'N' 'N' 'N' 'R' 'N' 'N' 'N' 'N' 'N' 'N' 'R' 'N' 'N'
 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'R' 'N' 'N' 'N'
 'R' 'R' 'N' 'R' 'N' 'R' 'N' 'N' 'N' 'N' 'N' 'R' 'N' 'N' 'N' 'N' 'R' 'N'
 'N' 'R' 'R' 'N' 'R' 'R' 'N' 'N' 'R' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'R' 'N'
 'R' 'N' 'R' 'N' 'N' 'R' 'N' 'R' 'N' 'N' 'R' 'N' 'R' 'N' 'R' 'N' 'R' 'N'
 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'R' 'R' 'N' 'N' 'N'
 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'R' 'N']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           N       0.69      0.96      0.81        26
           R       0.75      0.21      0.33        14

    accuracy                           0.70        40
   macro avg       0.72      0.59      0.57        40
weighted avg       0.71      0.70      0.64        40

In [15]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})

Accuracy :  0.7

In [ ]:
#Using iris data set, implement naive bayes classification for different naive Bayes classification
#algorithms.( (i) gaussian (ii) bernoulli etc)

# Find out the accuracy level w.r.t to each  algorithm
# Display the no:of mislabeled classification from test data set
# List out the class labels of the mismatching records

In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('iris.csv')
X = dataset.iloc[:,:4].values
y = dataset['variety'].values
dataset.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [18]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test) 
y_pred

array(['Setosa', 'Setosa', 'Versicolor', 'Versicolor', 'Virginica',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Versicolor',
       'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Versicolor'],
      dtype='<U10')

In [19]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [20]:
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[10,  0,  0],
       [ 0, 10,  0],
       [ 0,  1,  9]])

In [21]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0       Setosa           Setosa
1       Setosa           Setosa
2    Virginica       Versicolor
3   Versicolor       Versicolor
4    Virginica        Virginica
5       Setosa           Setosa
6   Versicolor       Versicolor
7    Virginica        Virginica
8       Setosa           Setosa
9   Versicolor       Versicolor
10  Versicolor       Versicolor
11   Virginica        Virginica
12  Versicolor       Versicolor
13   Virginica        Virginica
14  Versicolor       Versicolor
15   Virginica        Virginica
16   Virginica        Virginica
17   Virginica        Virginica
18      Setosa           Setosa
19  Versicolor       Versicolor
20      Setosa           Setosa
21      Setosa           Setosa
22   Virginica        Virginica
23  Versicolor       Versicolor
24      Setosa           Setosa
25  Versicolor       Versicolor
26      Setosa           Setosa
27   Virginica        Virginica
28      Setosa           Setosa
29  Versicolor       Versicolor

In [ ]:
#4. Use car details CSV file and implement decision tree algorithm
# Find out the accuracy level.
# Display the no:of mislabeled classification from test data set
# List out the class labels of the mismatching records

In [22]:
import os
import numpy as np
import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics, model_selection

In [23]:
data = pd.read_csv('car.csv',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [25]:
data['class'],class_names = pd.factorize(data['class'])

In [26]:
print(class_names)
print(data['class'].unique())

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
[0 1 2 3]

In [27]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   int64
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   int64
 5   safety    1728 non-null   int64
 6   class     1728 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB

In [29]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

# split data randomly into 70% training and 30% test
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=0)

In [30]:
# train the decision tree
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [31]:
# use the model to make predictions with the test data
y_pred = dtree.predict(X_test)
# how did our model perform?
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.82

In [32]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))

Misclassified samples: 96